NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/auth-backend-db"
FRONTEND_URL=http://localhost:3000
JWT_SECRET="secret - at least 256 chars is recommended"

# OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Resend
RESEND_API_KEY=

# Redis (for rate limiting)
REDIS_URL=redis://localhost:6379